header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f9f9f9;
    padding: 0 2rem
}

.menu-lista {
    display: flex;
    list-style: none;
}

.menu-item{
    display: flex;
    margin-left: 1.2rem;
}

.menu-link{
    text-decoration: none;
    color: #808080;
}

.menu-link:hover{
    text-decoration: underline;
}

.ativo{
    color: black;
    font-weight: 500;
}