:root{
    --fundo-cinza: #EBECEE;
    --fundo-azul: linear-gradient(to right, #002F52, #326589);
    --texto-laranja: #EB9B00;
    --texto-azul: #002F52;
    --texto-branco: #FFFFFF;
    --font-principal: 'Poppins';

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
}
.container__menu{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    list-style: none;
    background-color: var(--texto-branco);
    width: 60vw;
}
.menu__hamburguer{
    width: 36px;
    height: 24px;
    background-image: url(./imgs/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.label{
    padding: 1.5em;
}
.img_header{
    display: flex;
    gap: 1em;
}
.img_header p {
    display: none;
}
.container__menu div:nth-child(2){
    display: flex;
    gap: 8px;
}
.container__menu div:nth-child(2) img{
    padding: 4px 8px 8px 8px;
}
.container__menu div:nth-child(1){
    display: flex;
    align-items: center;
    gap: 24px;
}
.container__menu input {
    display: none;
}
.container__botao:checked ~ .lista-menu{
    display: block;
}
.container__botao:checked ~ .label>.menu__hamburguer{
    background: url(./imgs/Menu\ Aberto.svg);
}
.container__botao:checked ~ .label{
    background: var(--fundo-azul);
}

.lista-menu__titulo{
    font-size: 16px;
    font-weight: bold;
    color: var(--texto-laranja);
    padding: 1em;
}
.lista-menu__item{
    font-size: 16px;
    padding: 1em;
}
.lista-menu__link{
    background-image: var(--fundo-azul);   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}


/*SECTION PESQUISA -----------------------------------------------------------*/


.container__pesquisa{   
    text-align: center;
    padding: 2.5em 2em;
    background-image: var(--fundo-azul);
    color: var(--texto-branco);
}
.container__pesquisa h2{
    font-size: 18px;
    font-weight: bold;
    margin: 8px;
}
.texto_pesquisa{
    font-size: 16px;
    font-weight: normal;
}
.botao{
    display: inline-flex;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 24px;
    font-size: 14px;
    margin-top: 24px;
    padding: 1em;
    width: 100%;
    color: var(--texto-branco);
}
.botao::placeholder{
    font-family: var(--font-principal);
    font-size: 14px;
    font-weight: 400;
    background: url(./imgs/Lupa.svg) no-repeat;
    text-align: center;
    color: var(--texto-branco);
    background-position: 1em;
}


/*SECTION 01 MAIN -----------------------------------------------------------*/

.container__primaria{
    background-color: var(--fundo-cinza);
    padding-bottom: 0.5em;
    margin-top: 1em;
}
.container__primaria h1{
    background-color: var(--texto-branco);
    text-align: center;
    padding-bottom: 0.5em;
    font-size: 18px;
    font-weight: bold;
    color: var(--texto-laranja);
}
.swiper-slide img {
    width: 100%;
}
.swiper-button-prev, .swiper-button-next{
    display: none;
}
.swiper-pagination{
    position: initial;
    margin: 0.5em 0;
}

/* PRIMEIRO CARD ---------------------------------------------------------------*/
.primeiro_card{
    display: flex;
    gap: 17px;
}
.card_botao{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em;
}
.botoes{
    list-style: none;
    display: flex;
    gap: 32px;
}
.container__card{
    margin: 1em;
    border: 1px solid var(--texto-branco);
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
    background-color: var(--texto-branco);
    padding: 1em;
    margin-bottom: 0.5em;
}
.primeiro_texto{
    color: var(--texto-laranja);
    font-size: 16px;
    font-weight: 700;
    
}
.segundo_texto{
    color: #002F52;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0.5em;
}
.terceiro_texto{
    color: black;
    font-size: 14px;
    font-family: 400;
}
.ancora{
    text-decoration: none;
    text-align: center;
    color: var(--texto-branco);
    background-color: var(--texto-laranja);
    padding: 12px 16px;
    width: 45%;
}

/*TOPICOS --------------------------------------------------------*/
.container__topico{
    background-color: var(--texto-azul);
    text-align: center;
    margin: 1em 0;
}
.topicos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.titulo_topico{
    font-size: 16px;
    font-weight: lighter;
    color: var(--texto-branco);
    padding: 1.25em 0;
}
.topicos li{
    margin: 2em 0.8em;
    list-style: none;
}
.ancora_topico{
    font-size: 14px;
    font-weight: 700;
    font-family: var(--font-principal);
    text-decoration: none;
    text-align: center;
    color: var(--texto-branco);
    background-color: var(--texto-laranja);
    padding: 1em 1.5em;
}

/*NOVIDADES -------------------------------------------------*/
.container__novidades{
    margin: 1.5em;
}
.container__novidades h2{
    font-size: 18px;
    margin-bottom: 0.5em;
}
.container__novidades p{
    font-size: 16px;
}
.botao_novidades{
    display: inline-flex;
    background-color: transparent;
    border: 1px solid var(--texto-azul);
    border-radius: 24px;
    font-size: 14px;
    margin-top: 24px;
    padding: 1em;
    width: 100%;
}
.botao_novidades::placeholder{
    font-family: var(--font-principal);
    font-size: 14px;
    font-weight: 400;
    background: url(./imgs/Email.svg) no-repeat;
    color: var(--texto-azul);
    background-position: 1em;
    padding-left: 3em;
}

/*FOOTER --------------------------------------------------------*/
hr{
    margin: 0
}
footer h2{
    padding: 1em 1.5em;
    font-size: 16px;
}
.nome_site, .opcoes{
    display: none;
}
.lista_item, .lista_titulo{
    display: none;
}


/*Media Laptop -----------------------------------------------------*/
@media (min-width: 1024px) {
    .menu__hamburguer, .container__botao{
        display: none;
    }
    .opção_botao:checked ~ .opções_menu{
        background: var(--fundo-azul);
        color: var(--texto-branco);
    }
    .lista-menu__item:hover{
        background: var(--fundo-azul);
    }
    .lista-menu__item:hover>.lista-menu__link{
        -webkit-text-fill-color: var(--texto-branco);
        text-decoration: none;
    }
    .container__menu{
        margin: 21px 80px;
    }
    .nome_site{
        display: block;
        font-size: 30px;
    }
    .opcoes{
        display: flex;
    }
    .img_header{
        gap: 3em;
    }
    .item_opcao{
        list-style: none;
        padding: 1em;
        text-transform: uppercase;
    }
    .opcoes_link{
        text-decoration: none;
    }
    .img_laptop{
        display: none;
    }
    .opção_botao:checked ~ .lista-menu{
        display: block;
        width: auto;
    }
    .container__pesquisa h2{
        font-size: 36px;
    }
    .botao{
        font-size: 16px;
        width: 50%;
    }
    .botao::placeholder{
        background-position: 6em;
    }
    .container__primaria h1{
        font-size: 26px;
    }
    .swiper-pagination{
        margin: 2em 0 3em 0;
    }
    .swiper{
        width: 60%;
    }
    .swiper-button-prev, .swiper-button-next{
        display: block;
        top: 60%;
    }
    .container__card{
        margin: 2em auto;
        width: 50%;
    }
    .ancora{
        width: 34%;
    }
    .titulo_topico{
        font-size: 24px;
    }
    .ancora_topico{
        font-size: 24px;
    }
    .container__novidades h2 {
        font-size: 24px;
        width: 80%;
    }
    .container__novidades{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2.5em;
    }
    .botao_novidades{
        width: 40%;
    }
    .container__novidades p{
        width: 65%;
    }
    footer{
        display: flex;
        justify-content: space-around;
        margin: 2.5em 0 ;
    }
    footer h2{
        font-size: 24px;
        font-weight: 400;
    }
    .lista_item{
        display: flex;
        align-items: center; 
        color: #474646;
        margin: 0.6em 0;
    }
    .lista_titulo{
        list-style: none;
        color: #858585;
        margin-bottom: 1em;
    }
    .lista_link{
        text-decoration: none;
        margin-left: 0.5em;
    }

    /*Media Desktop -----------------------------------------------------*/

    @media screen and (min-width: 1728px) {
        .img_header{
            gap: 1em  ;
            align-items: center;
        }
        .img_header p {
            font-size: 20px;
            white-space: nowrap;
        }
        .section_desktop{
            display: flex;
            align-items: center;
            margin: 0 15vw 3em 15vw;
        }
        .primeiro_texto{
            font-size: 32px;
        }
        .primeiro_card{
            gap: 48px;
        }
        .container__card{
            margin: 0;
            margin-top: 2em;
            width: 65%;
            margin-left: 3em;
        }
        .swiper {
            width: 70%;
        }
        .swiper-pagination{
            margin: 1em 0;
        }
        .ancora{
            font-size: 16px;
        }
        .topico_desktop{
            padding: 4em 26vw;
        }
        .titulo_topico{
            font-size: 32px;
            font-weight: lighter;
            padding-top: 0;
        }
        .container__novidades{
            margin: 4em 20vw;
        }
        .container__novidades h2{
            white-space: nowrap;
        }
        .botao{
            width: 30%;
        } 
    }
}